@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Noto Sans KR", sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0 auto;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
		background-color:#FDECCB;
}

/**리셋끝~~*****************************************************************************************************************/
/**네비시작~~~*************************************************************************************************************/




header{
    margin: 0 auto -100px;
    width: 1250px;
}

.neviFor{
    z-index: 1000;
    top: 0;
    position: absolute;
    margin: auto;
}

.neviBack{
    width: 1250px;
    height: 280px;
    z-index: 1; 
    position: relative;
    >img{
        width: 1250px;
        height: 280px;
    }
}



/*최상단*/

.neviTop{
       width: 1250px;
    background-color: none;
    >div{
        margin-top: 15px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        >span{
            display: flex;
        }
        >button{
            background-color: transparent;      /*neviTop 컬러와동일*/
            margin-right: 10px;                 /*로그아웃과 마이페이지 사이 margin 조절*/
            font-size: 15px;
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */
            
        }
        >form>button{
            margin-right: 10px;                 /*마이페이지 우측 margin 조절*/
            background-color: transparent;      /*neviTop 컬러와동일*/
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */
            margin-bottom: 4px;
        }
    }
}

/*네비게이션*/
.nevi{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;                                /*네이게이션바 위아래 두께*/
    width: 1250px;
    background-color: rgba(255 133 0/0.6);             /*네이게이션바 전체색상*/
    display: flex;
    align-items: center;
    >span:nth-child(1){
        width: 150px;
        >img{
            width: 200px;                                 /*로고 크기*/
            margin-left: 30px;                            /*로고 왼쪽 간격*/    
        }
    }
    span:nth-child(2){
        margin-left: 310px;                               /* 네비바 항목 위치 */  
        align-items: center;
        >ul{
            list-style-type: none;                        /* 형식 점을 없애기 위해 설정 */
            margin-top: 0px;                             /*네비게이션 바 글씨 높이*/
            display: flex;
            >li>div{
                cursor: pointer;
                margin-right: 18px;                       /*네비게이션 바 메뉴 간격*/
                display: flex;
                align-items: center
            }
            >li>div>img{
                width: 25px; 
                height: 25px;                             /*네비게이션 바 발바닥 크기*/
            }
            >li>div>form>input{
                border: 0;
                background-color: transparent;
                text-decoration: none;
                color: white;                            /*네비게이션 바 글씨색상*/
                cursor: pointer;
                font-size: 25px;
                font-weight: bold;
            }
            
        }
    }
}

/* .mainBack{
    background-image: url(../img/imsiback.jpg);
    width: 1250px;
    background-size: cover; 
    background-position: center; 
} */




/**네비끝~~*****************************************************************************************************************/

/**센터네비시작~~*****************************************************************************************************************/

header{
    margin: 0 auto ;
    width: 1250px;
}


.neviCenterBack{
    width: 1250px;
    height: 280px;						/*네비뒷배경 크기 1 -2랑 맞춰야함*/
    z-index: 1; 
    position: relative;
    >img{
        width: 1250px;
        height: 280px;					/*네비뒷배경 크기 2 -1이랑 맞춰야함*/
    }
}

.neviCenterFor{
    z-index: 1000;
    top: 0;
    position: absolute;
    margin: auto;
}



/*최상단*/

.neviCenterTop{
       width: 1250px;
    background-color: none;
    >div{
        margin-top: 15px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        >span{
            display: flex;
        }
        >button{
            background-color: transparent;      /*neviTop 컬러와동일*/
            margin-right: 10px;                 /*로그아웃과 마이페이지 사이 margin 조절*/
            font-size: 15px;
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */
            
        }
        >form>button{
            margin-right: 10px;                 /*마이페이지 우측 margin 조절*/
            background-color: transparent;      /*neviTop 컬러와동일*/
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */
            margin-bottom: 4px;
        }
    }
}

/*네비게이션*/
.neviCenter{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;                                /*네이게이션바 위아래 두께*/
    width: 1250px;
    background-color: rgba(255 133 0/0.6);             /*네이게이션바 전체색상*/
    display: flex;
    align-items: center;
    >span:nth-child(1){
        width: 150px;
        >img{
            width: 200px;                                 /*로고 크기*/
            margin-left: 30px;                            /*로고 왼쪽 간격*/    
        }
    }
    span:nth-child(2){
        margin-left: 210px;                               /* 네비바 항목 위치 */  
        align-items: center;
        >ul{
            list-style-type: none;                        /* 형식 점을 없애기 위해 설정 */
            margin-top: 0px;                             /*네비게이션 바 글씨 높이*/
            display: flex;
            >li>div{
                cursor: pointer;
                margin-right: 11px;                       /*네비게이션 바 메뉴 간격*/
                display: flex;
                align-items: center
            }
            >li>div>img{
                width: 23px; 
                height: 23px;                             /*네비게이션 바 발바닥 크기*/
            }
            >li>div>form>input{
                border: 0;
                background-color: transparent;
                text-decoration: none;
                color: white;                            /*네비게이션 바 글씨색상*/
                cursor: pointer;
                font-size: 23px;
                font-weight: bold;
            }
            
        }
    }
}

/* .mainBack{
    background-image: url(../img/imsiback.jpg);
    width: 1250px;
    background-size: cover; 
    background-position: center; 
} */


/**센터네비끝~~*****************************************************************************************************************/




/**인덱스시작~~*****************************************************************************************************************/
.indexBody, .indexHtml {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: url('../img/black.png') no-repeat center center; /* 기본 배경 이미지 */
    background-size: cover;
    position: relative;
}

.indexBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/color1.png') no-repeat center center/cover;
    clip-path: circle(30px at 0 0); /* 시작할 때 작은 원의 크기로 설정 */
    z-index: 1;
}

.indexCircle {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    pointer-events: none;
    background: none; /* 배경 제거 */
    border: 2px solid transparent; /* 투명 테두리 */
    z-index: 2;
}      

.indexChange {
    position: absolute;
    top: 10%; 
    left: 10%;
    width: 80%;
    height: 80%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.indexChange span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.indexChange img {
    max-width: 100%;
    max-height: 100%;
}
.indexChange form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.indexChange button {
    width: 90%;
    max-width: 450px;
    margin-top: 30px;
    padding: 12px;
    background-color: #FEAB82; 
    color: white;
    font-size : 18pt;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.indexChange button:hover {
    background-color: #F1A580; /* 호버 시 버튼 배경 색상 */
 
}
/**********************************************인덱스***************************************************/
/**********************************************로그인*************************************************/
.loginBody {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FDECCB;
}
.loginMain {
    width : 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}
.loginMain img {
    width : 450px;
    margin: 150px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    cursor: pointer;
}
.loginInput {
    width : 500px;
    margin : 0 auto;
    text-align : center;
}
.loginInput input {
    width : 400px;
    height : 40px;
    border : 1px solid #a0a0a0;            
    margin : 10px auto 0;
    padding-left : 10px;                        
}
.loginInput input::placeholder {
   font-size: 16px;                    
}
.loginBtn {
    width: 410px;
    height : 40px;
    margin: 30px auto 0;
    display: block;
    background-color: #EC9343;
    font-size : 16px;
    font-weight: bold;
    color : #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.loginBtn:hover {
    background-color: #D87A2B; /* 호버 시 버튼 배경 색상 */
}
.loginOpt {
    width: 400px;
    margin: 15px auto 0;
    text-align: center;
}
.loginRegBtn {
    float : right;
    margin-right : -5px;
    border: none;
    background-color: #FDECCB;
    color: #838383;
    cursor: pointer;
}
.loginRegBtn:hover {
    text-decoration-line:underline;
}
/**********************************************센터메인*************************************************/
.centerBody, .centerHtml {
    margin: 0;
    padding: 0;
    font-family: 'MangoDdobak-B';
    background-color: #FDECCB;
}
.centerMain {
    width : 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.centerSection {
    margin-bottom: 20px;
}
.centerSection h2 {
   font-family: 'NEXONFootballGothicBA1';
   font-size : 40px;
    /*font-weight: bold;*/
    border-bottom : 2px solid #333;
    padding-bottom : 10px;
    margin-bottom : 25px;
}
.centerSection .centerBox h3 {
   margin : 10px auto;
   font-family: 'NEXONFootballGothicBA1';
    font-weight: bold;
    font-size : 40px;
    text-align : center;    
    /*border-bottom : 4px double black;*/
    /*border-top : 4px double #8B4513;*/
    padding : 10px 0;
    /*width : 500px;*/
}
.centerBox {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
}
.centerBox table {
    width: 100%;
    border-collapse: collapse;
    font-size : 22px;
}
.centerBox table th {
   background-color : #463933;      
   vertical-align : middle;
   color : white;
   font-weight : bold;
   padding : 15px;   
}
.centerBox table td {
   font-size: 18px;
    border: none;
    height :40px;
    text-align: center;
    vertical-align : middle;
    border-bottom : 1px solid #aaa;
}
.centerMainBtnG {
   display: flex;
    gap: 10px;
    justify-content: center;
    align-items : center;
}
.centerMainApprv {
   border : none;
   font-family: 'MangoDdobak-B';
   border-radius : 5px;
   font-size : 15px;
   font-weight : bold;
   width : 80px;
   height : 30px;
   background-color : #EC9343;
   color : #fff;
   cursor : pointer;
   margin : 5px auto;
}
.centerMainApprv:hover {
   background-color : #D87A2B ;
}
.centerMainRej {
   border : none;
   font-family: 'MangoDdobak-B';
   border-radius : 5px;
   font-weight : bold;
   width : 80px;
   height : 30px;
   background-color : #EC9343;
   color : #fff;
   cursor : pointer;
   margin : 10px 0;
}
.centerMainRej:hover {
   background-color : #D87A2B ;
}
.centerMainVolBtn {
   border : none;
   font-family: 'MangoDdobak-B';
   border-radius : 5px;
   font-size : 15px;
   font-weight : bold;
   width : 80px;
   height : 30px;
   background-color : #EC9343;
   color : #fff;
   cursor : pointer;
   margin : 5px auto;
}
.centerMainVolBtn:hover {
   background-color : #D87A2B
}
.centerRR {
   padding: 5px 10px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.centerNoData {
    text-align: center;
    color: #888;
}
.centerMainRR {
   margin-bottom : 10px;
   border : none;
   border-bottom : 1px solid black;
   outline : none;
}
.centerMainRR::placeholder {
   font-size : 12px;
}
.centerlistViewAllCont {    
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
.centerlistViewAll{
    float: right;
    text-decoration : none;
    border: none;
    background-color: #fff;
}
.centerlistViewAll:hover{
    cursor: pointer;
}

.centerMainRegisterButton {
   margin: 0 auto;
   font-family: 'MangoDdobak-B';
    display: block;     
    width: 15%;
    padding: 10px;
    background-color: #EC9343;
    font-size : 17px;
    font-weight : 900;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.centerMainRegisterButton:hover {
    background-color: #D87A2B;
}
/**********************************************센터메인*************************************************/
/**********************************************센터모집인원*************************************************/
.centerRecBody {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FDECCB;
}
.centerRecMain {
    width : 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.centerRecSection {
    margin-bottom: 20px;
}
.centerRecSection h2 {
   font-size : 45px;
   font-family: 'NEXONFootballGothicBA1';    
    border-bottom : 2px solid #333;
    padding-bottom : 10px;
    margin-bottom : 25px;
}
.centerRecBox {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px auto;
}
.centerRecBox h3 {
    margin-bottom: 20px;
    text-align: center;
}

.centerRecBox table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'MangoDdobak-B';
    font-size : 20px;
}

.centerRecBox table th{
   background-color : #463933;      
   vertical-align : middle;
   color : white;
   font-weight : bold;
   padding : 15px;
}
.centerRecBox table td {
    border: none;
    font-size : 18px;
    height : 80px;
    text-align: center;
    vertical-align : middle;
    border-bottom : 1px solid #aaa;
}
.centerRecBox table tbody tr:hover {
    background-color: #F1F1F1; /* 마우스 오버 시 배경색 변경 */
}
.centerRecBox table tbody tr td button {
    background-color: #AC8668;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.centerRecBox table tbody tr td button:hover {
    background-color: #D8B6A4; /* 부드러운 색상으로 변경 */
}
.centerRecNoData {
    text-align: center;
    color: #888;
}
.centerRecPagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.centerRecPagination a, .centerRecPagination span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.centerRecPagination a:hover {
    background-color: #ddd;
}
.centerRecPagination .active {
    background-color: #FEAB82;
    color: white;
    border: 1px solid #FEAB82;
}
/**********************************************센터모집인원*************************************************/
/**임시~~*****************************************************************************************************************/
.mypage{
    
    margin: 50px auto 0;
    width: 980px;
    >div:nth-child(1){
        padding: 10px;
        font-size: 40px;
        font-weight: bold;
        border: none;
        border-bottom: 2px solid black;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        >img{
            width: 40px;
            margin-right: 5px;
        }        
    }
}


.mypageVolRecruitList{
    width: 100%;
    >div:nth-child(1){
        background-color: white;
        /* >div:nth-child(1){
            
        } */
    }
}




/*============개인정보 수정페이지===========*/
.mypagePrivacyEdit{
    width: 100%;
    
    >table{
        margin: 10px 10px 10px 10px;
        text-align: left;
        width: 100%;
        border: 1px solid;
        margin: 2px;
        
    }
}


.mypagePrivacyEditTable {
    width: 500px;
    border-collapse: collapse;
    margin: 20px auto 0;
    font-size: 15px;
    text-align: center;
    >tr>td>input{
        border: red;
    }
}
.mypagePrivacyEditTable th, table td {
padding: 12px;
border: 1px solid #ddd;
}
.mypagePrivacyEditTable th {
width: 25%;
background-color: #AC8668;
color : white;
vertical-align:middle;
}
.mypagePrivacyEditTable td {
    background-color: white;
    vertical-align:middle;
    }


    .mypagePrivacyEditBtn {
        display: flex;
        align-items : center;
        justify-content: center;
        width: 20%;
        padding: 10px;
        background-color: #EC9343;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        >img{
            width: 15px;
            margin-right: 5px;
        }
    }
    
    .mypagePrivacyEditBtn:hover {
        background-color:#D87A2B;
    }

    .mypagePrivacyEditBtnC{
        width:500px;
        display: flex;
        justify-content: flex-end;
    }

    .mypagePrivacyEditWithdraw{
        border: none;
        background-color: transparent;
        cursor: pointer;
        color: #555;
        
    }




/*============개인정보 확인페이지===========*/


.mypagePrivacyCheck{
    width: 100%;
    
    >table{
        margin: 10px 10px 10px 10px;
        text-align: left;
        width: 100%;
        border: 1px solid;
        margin: 2px;
        
    }
}


.mypagePrivacyCheckTable {
    width: 500px;
    border-collapse: collapse;
    margin: 20px 0 0;
    font-size: 15px;
    text-align: center;
    >tr>td>input{
        border: red;
    }
}
.mypagePrivacyCheckTable th, table td {
padding: 12px;
border: 1px solid #ddd;
}
.mypagePrivacyCheckTable th {
width: 25%;
background-color: #AC8668;
color : white;
vertical-align:middle;
}
.mypagePrivacyCheckTable td {
    background-color: white;
    vertical-align:middle;
    }


    .mypagePrivacyCheckBtn {
        display: flex;
        align-items : center;
        justify-content: center;
        width: 20%;
        padding: 10px;
        background-color: #EC9343;
        color: #fff;
        text-align: center;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 17px;
        >img{
            width: 15px;
            margin-right: 5px;
        }
    }
    
    .mypagePrivacyCheckBtn:hover {
        background-color:#D87A2B;
    }

    .mypagePrivacyCheckBtnC{
        width:500px;
        display: flex;
        justify-content: flex-end;
    }

    







/*============비밀번호 입력 페이지===========*/

.mypagePrivacyPw{
   >div{
    margin-left: 20px;      /*안내 및 비밀번호 입력창 위치 : 왼쪽마진*/
   }

}
.mypagePrivacyPwNoti{
    background-color: white;
    width: 420px;
    border-radius: 15px;
    padding: 30px;

    >div:nth-child(1){
        color: gray;          /*안내 메시지 폰트색상*/
        font-size: 17px;          /*안내 메시지 폰트size*/
        margin-top: 0px;       /*안내 메시지 위치_윗마진*/
        margin-bottom: 10px;    /*비밀번호 입력창 위치*/
    }
    
    
    >form>button{       /*비밀번호 제출*/
        /* border: none;
        background-color: transparent;
        margin-top: 10px;
        margin-left: 310px;
        cursor: pointer;
        display: flex;
        align-items: center; */

        >img{
            width: 15px;
            margin-right: 8px; /* 텍스트와 이미지 사이의 간격 */
        }
        >label{
            font-size: 15px;
        }
    }
    
    
}


.mypagePrivacyPwInputPW1{
    width : 400px;
    height : 40px;
    border : 1px solid #a0a0a0;            
    margin : 10px auto 0;
    padding-left : 10px;     
}


.mypagePrivacyPwInputPW2{    /*비밀번호입력창*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    width: 300px;
    /* margin-left: 50px; */
    margin-top: 40px;        /*비밀번호입력창 위치*/
    >input{
        font-size: 15px;
        color: #222222;
        width: 300px;
        border: none;
        border-bottom: solid #aaaaaa 1px;
        padding-bottom: 10px;
        padding-left: 10px;
        position: relative;
        background: none;
        z-index: 5;
        /* background-color: white; */
    }
    >input::placeholder{color: #aaaaaa;}
    >input:focus{outline: none;}
    >label{
        position: absolute;
        color:  rgb(53, 110, 119);
        left: 10px;
        font-size: 20px;
        bottom: 8px;
        transition: all .2s;
    }
    >span{
        display: block;
        position: absolute;
        bottom: 0;
        left: 0%;  /* right로만 바꿔주면 오 - 왼 */
        background-color: rgb(53, 110, 119);
        width: 0;
        height: 2px;
        border-radius: 2px;
        transition: 0.5s; 
    }
    >input:focus ~ label, input:valid ~ label {
        font-size: 10px;
        bottom: 40px;
        color:  rgb(53, 110, 119);
        font-weight: bold;
      }
      
    >input:focus ~ span, input:valid ~ span {
        width: 100%;
      }
} 



.mypagePrivacyPwCheckBtn1 {
    width: 100px;
    height : 40px;
    margin: 20px 310px 0;   /*위 가운데정렬 */
    display: block;
    background-color: #EC9343;
    color : #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mypagePrivacyPwCheckBtn1:hover {
    background-color:#D87A2B; /* 호버 시 버튼 배경 색상 */
}

.mypagePrivacyPwCheckBtn2{
    border: none;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 310px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

/**임시~~*****************************************************************************************************************/




/**메인~~*****************************************************************************************************************/
.main{
    margin: 50px auto 0;
    width: 980px;
}

.mainTitle{                             /*큰제목*/
    font-size: 27px;
    font-weight: bold; 
    margin-bottom: 10px;                /*큰제목 아래 간격*/
    /*테스트용
    width: 980px;
    border: 1px solid black;*/
    
    >img{
        width: 27px;
        height: 27px;
    }  
}

.mainAllBtn{                            /*전체보기*/
    width: 820px;
    height: 30px;
    /* border: gray solid 1px; */
    /* background-color: white; */
    margin-bottom: 15px;                /*전체보기 아래 간격*/
    >form>button{
        float: right;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 15px;
        font-weight: bold;
    }
}



.mainFirstStack{                          /*1층 봉사신청내역*/
    display: flex;
    
}
.mainFirstMiddle{
    width: 820px;
    border: gray solid 1px;
    border-radius: 5px;
    background-color: white;
    >div>table {
    	width: 100%;
	    border-collapse: collapse;
	    font-family: 'MangoDdobak-B';
	    font-size : 20px;
        tbody{
            >tr>th {
                background-color : #463933;      
                vertical-align : middle;
                color : white;
                font-weight : bold;
                padding : 15px;
            }
            >tr>td {
	    	border: none;
		    font-size : 18px;
		    height : 80px;
		    text-align: center;
		    vertical-align : middle;
		    border-bottom : 1px solid #aaa;
	        }
        }
    }
}

.mainFirstSide{
    width: 30px;   
    >form>button{                              /*shortcut1*/
        width: 150px;
        height: 150px;       /*높이*/
        border: gray solid 1px;
        border-radius: 5px; 
        cursor: pointer;
        margin-left: 10px;      /*본문과 왼쪽 마진*/
        background-image: url('../img/Shortcut1.png'); /* 배경 이미지 경로 설정 */
        background-size: cover; /* 배경 이미지 크기 조정 */
        background-position: center; /* 배경 이미지 위치 조정 */
        background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
        background-color: white;    /* 배경색//이미지가 투명임 */
    }
}




.mainSecondStack{                          /*2층 입양상담신청내역*/
    display: flex;
}
.mainSecondMiddle{
    width: 820px;
    border: gray solid 1px;
    border-radius: 5px;
    background-color: white;
    >table {
    	width: 100%;
	    border-collapse: collapse;
	    font-family: 'MangoDdobak-B';
	    font-size : 20px;
        tbody{
            >tr>th {
                background-color : #463933;      
                vertical-align : middle;
                color : white;
                font-weight : bold;
                padding : 15px;
            }
            >tr>td {
	    	border: none;
		    font-size : 18px;
		    height : 80px;
		    text-align: center;
		    vertical-align : middle;
		    border-bottom : 1px solid #aaa;
	        }
        }
    }
}
.mainSecondSide{
    width: 30px;   
    >form>button{                              /*shortcut1*/
        width: 150px;
        height: 150px;       /*높이*/
        border: gray solid 1px;
        border-radius: 5px; 
        cursor: pointer;
        margin-left: 10px;      /*본문과 왼쪽 마진*/
        background-image: url('../img/Shortcut2.png'); /* 배경 이미지 경로 설정 */
        background-size: cover; /* 배경 이미지 크기 조정 */
        background-position: center; /* 배경 이미지 위치 조정 */
        background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
        background-color: white;    /* 배경색//이미지가 투명임 */
    }
}


.mainThirdStack{                          /*2층 입양상담신청내역*/
    display: flex;
}
.mainThirdMiddle{
    width: 820px;
    border: gray solid 1px;
    border-radius: 5px;
    background-color: white;
}
.mainSlideContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    >div{
        width: 230px;
        height: 230px;
        border: gray solid 1px;
        margin: 5px 5px 5px 5px;
    }
}



.mainThirdSide{
    width: 30px;   
    >form>button{                              /*shortcut1*/
        width: 150px;
        height: 150px;       /*높이*/
        border: gray solid 1px;
        border-radius: 5px; 
        cursor: pointer;
        margin-left: 10px;      /*본문과 왼쪽 마진*/
        background-image: url('../img/Shortcut3.png'); /* 배경 이미지 경로 설정 */
        background-size: cover; /* 배경 이미지 크기 조정 */
        background-position: center; /* 배경 이미지 위치 조정 */
        background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
        background-color: white;    /* 배경색//이미지가 투명임 */
    }
}



.mainFourthStack{                          /*2층 입양상담신청내역*/
    display: flex;
}
.MainFourthMiddle{
    width: 820px;
    border: gray solid 1px;
    border-radius: 5px;
    background-color: white;
    
}
.mainFourthSide{
    width: 30px;   
    >form>button{                              /*shortcut1*/
        width: 150px;
        height: 150px;       /*높이*/
        border: gray solid 1px;
        border-radius: 5px; 
        cursor: pointer;
        margin-left: 10px;      /*본문과 왼쪽 마진*/
        background-image: url('../img/Shortcut4.png'); /* 배경 이미지 경로 설정 */
        background-size: cover; /* 배경 이미지 크기 조정 */
        background-position: center; /* 배경 이미지 위치 조정 */
        background-repeat: no-repeat; /* 배경 이미지 반복 방지 */
        background-color: white;    /* 배경색//이미지가 투명임 */
    }
}










.mainVolist{
    /* display: flex; */
    display: inline-block;
    >button{
        width: 250px;
        background-color: transparent;
        border: 1px solid black;
        cursor: pointer;
        padding: 10px;
    }
}
/**메인끝~~*****************************************************************************************************************/
/**조인 시작~~*****************************************************************************************************************/
.joinLogo {
    align-items: center;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 50%;
    height: 20%;
}
.joinText {
    width: 650px;
    height: 50px;
    margin: 10px;    
    margin-left: 11%;
    margin-right: 10%;
    align-content: center;
    align-items: center;
   
}
.joinId {
    width: 400px;
    height: 30px;
    margin: 10px;    
    margin-left: 11%;
    margin-right: 10%;
    align-content: center;
    align-items: center;
  
}
.joinIdCheck {
    height: 30px;
    width: 100px;
    margin-left: -5px;
    margin-right: 10%;
}
.joinCheckBox {
    margin: 5px;
    text-align: left;
}
.joinBody {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #FDECCB;
      text-align: center;
}
.joinBody.maxWidth {
    max-width: 1000px;
}
.joinBody.maxheight {
    max-height: 1400px;
}
.joinContainer {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}
.joinH1 {
    text-align: center;
    font-size: 20pt;
    font-style: bold;
    margin-top: 10px;
    margin-bottom: 15px; 
}
.joinTerms {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    height: 200px;
    overflow-y: scroll;
}
.joinCheckbox {
    margin-top: 10px;
    margin-bottom: 10px;
}
.joinSubmit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #FEAB82;
    color: white;
    border: none;
    cursor: pointer;
    margin-bottom: 50px;
}
.joinSubmit-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.joinSubmit-btn:hover {
            background-color: #F1A580;
            font-decoration: none;
        }
/**조인 끝~~*****************************************************************************************************************/
/**파인드 시작~~*****************************************************************************************************************/
      .find_logo {
           width : 450px;
		   margin: 150px auto 0;
		   display: flex;
		   flex-direction: column;
		   justify-content: space-between;
		   padding: 20px;
		   cursor: pointer;
        }
        .find {
            font-family: Arial, sans-serif;
            background-color: #FDECCB;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .find_container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 450px;
            margin-left: 32%;
            margin-right: 32%;
        }
        .find_bold {
            text-align: center;
            margin-bottom: 20px;
            font-size: 25pt;
            text-decoration: bold;
        }
        .find_label {
            display: block;
            margin-bottom: 5px;
        }
        .find_input[type="text"],
        .find_input[type="email"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 3%;
        }
        .find_button {
            width: 100%;
            padding: 10px;
            background-color: #FEAB82;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 30px;
              text-decoration: none;
        }
        .find_button:hover {
            background-color: #F1A580;
            font-decoration: none;
        }
        .find_Text {
           margin: 50px;
           font-size: 15pt;
        }
        .find_Rcontainer {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 450px;
            margin-left: 32%;
            margin-right: 32%;
            text-align: center;
        }
        .find_buttton:disable {
           background-color: #ccc;
          cursor: not-allowed;
        }
/**파인드 끝~~*****************************************************************************************************************/
/**리셋 패스워드 시작~~*****************************************************************************************************************/
      .reset_logo {
            align-items: center;
            margin-left: 30%;
            margin-right: 25%;
            margin-top: 4%;
            margin-bottom: 3%;
            width: 40%;
            height: 17%;
        }
        .reset {
            font-family: Arial, sans-serif;
            background-color: #FDECCB;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        .reset_container {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 450px;
            margin-left: 32%;
            margin-right: 32%;
        }
        .reset_bold {
            text-align: center;
            margin-bottom: 20px;
            font-size: 25pt;
            text-decoration: bold;
        }
        .reset_label {
            display: block;
            margin-bottom: 5px;
        }
        .reset_input[type="text"],
        .reset_input[type="password"] {
            width: 90%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-left: 3%;
        }
        .reset_button {
            width: 100%;
            padding: 10px;
            background-color: #FEAB82;;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 30px;
              text-decoration: none;
        }
        .reset_button:hover {
            background-color: #F1A580;
            font-decoration: none;
        }
        .reset_button:disable {
           background-color: #ccc;
          cursor: not-allowed;
        }
        .reset_Text {
           margin: 50px;
           font-size: 15pt;
        }
        .reset_Rcontainer {
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
            width: 450px;
            margin-left: 32%;
            margin-right: 32%;
            text-align: center;
        }
        .result_buttons {
          display: flex;
          justify-content: space-around;
          margin-top: 20px;
      }

      .result_button {
          display: inline-block;
          padding: 10px 20px;
          margin: 5px;
          background-color: #FEAB82; /* 버튼 배경색 */
          color: white; /* 버튼 텍스트 색 */
          text-align: center;
          text-decoration: none;
          font-size: 16px;
          border-radius: 5px;
          transition: background-color 0.3s ease;
      }

      .result_button:hover {
          background-color: #F1A580; /* 호버 시 버튼 배경색 */
      }
      .result_message {
         margin: 30px;
         font-size: 15pt;
         text-align: center;
      }
/**리셋 패스워드 끝~~*****************************************************************************************************************/


/**테스트 volList 시작~~*****************************************************************************************************************/

.volListBody{
 	margin: 0 auto;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FDECCB;
}
.volunteerListWholeContainer {
   text-align: center;
   margin: auto;
   width: 980px;
   /*border: 1px black solid;*/
   /* background-color:red; */
}
/* 봉사 카테고리 필터 css */
.volunteerListCategoryContainer>button, .filter-btn {
   margin: 5px;
   padding: 10px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.volunteerListCategory-btn {
   background-color: #ffe282;
   color: rgb(0, 0, 0);
}

.filter-btn {
   background-color: #8b8b8b;
   color: rgb(22, 22, 22);
   position: relative;
}

.remove-btn {
   background-color: #141414;
   color: rgb(255, 255, 255);
   border: none;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   display: inline-block;
   text-align: center;
   line-height: 20px;
   cursor: pointer;
   position: absolute;
   top: -5px;
   right: -5px;
}
/* input type 필터 */
.voluntteerListFilterInput {
   font-size: 13px;
}

.voluntteerListFilterInput input, select {
   font-size: 11px;
}

.voluntteerListFilterInput tr td {
   padding: 0px 45px 0px 0px;
}

.voluntteerListFilterInput {
   padding-left: 20px;
}
/* 구인리스트 */
.volunteerListVolRecruitList>p {
	width:980px;
 	border: none;
    border-bottom: 2px solid rgb(53, 110, 119);
    
   
   text-align: left;
   padding: 10px 0px 10px 0px;
   margin: 20px auto;
   font-weight:bold;
   font-size:20px;
}

.volunteerListvolunteerRecruitList>table {
   margin: 5px;
   text-align: left;
   width: 100%;
   border: 1px solid;
   margin: 2px;
}
.volListFTable {
        width: 100%;
        border-collapse: collapse;
        margin: 20px auto;
        font-size: 15px;
        text-align: center;
}
.volListFTable th, table td {
    padding: 12px;
    border: 1px solid #ddd;
}
.volListFTable th {
    background-color: #AC8668;
    color : white;
    vertical-align:middle;
}
.volListFTable tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.volListLink {
	border: none;
	background: none;
	cursor : pointer;
}
.pagination {
    display: inline-block;
    margin-top: 20px;
}
.pagination a, .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}
.pagination a:hover {
    background-color: #ddd;
}
.pagination .active {
    background-color: #FEAB82;
    color: white;
    border: 1px solid #FEAB82;
}

/**테스트 volList 끝~~*****************************************************************************************************************/






/**센터레그 시작~~*****************************************************************************************************************/


            .centerRegDiv{
                text-align: center;
                margin: auto;
                width: 1100px;
                font-family: 'MangoDdobak-B';
            }
            .centerRegDiv h2{
                font-size: 40px;
                padding: 5px;
                margin: 10px 0px 30px 0px;
                background-color: #f7cb71;
                color:black;
                
            }
            .centerRegDiv h3 {
			    font-weight: bold;
			    border-bottom : 2px solid #333;
			    padding-bottom : 10px;
			    margin-bottom : 20px;
			    text-align: left;
			    font-size: 40px;
			    
			}
            
            
            .centerRegDiv .centerRegTable{
                margin: 5px auto;
                border-top: 2px solid  #8B4513;
                border-bottom: 2px solid  #8B4513;;
                width: 1100px;
                background-color:white;
                font-size:18px;
            }
            .centerRegDiv .centerRegTable tr td{
                padding: 5px;
                border-bottom: 1px solid #FDECCB;
                
            }
            .centerRegDiv .centerRegTable .centerRegTd{
                border-right: 1px solid #8B4513;
                background-color:  #AC8668;;
                color:white;
                vertical-align: middle;
                font-size:22px;
                
            }
            .centerRegDiv .centerRegDiv2{
                padding: 10px;
                border: 2px solid #8B4513;
                margin: 20px auto;
                width: 1077px;
                margin-bottom:20px;
                background-color:white;
                
            }
            .centerRegDateLeft{
                border: none;
                background-color: white;
                font-size: 14px;
                margin-left: -50px;
                cursor: pointer;
            }
            .centerRegDateRight{
                border: none;
                background-color: white;
                font-size: 14px;
                margin-right: -50px;
                cursor: pointer;
            }
            .centerRegBtn{
            	width:200px;
            	height:45px;
			    background-color : #EC9343; 
			    color: white;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    transition: background-color 0.3s ease;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';

			            	
            }
            .centerRegBtn:hover{
            	background-color : #D87A2B ; 
            }
            .centerRegDiv2 textarea {
			    width: 1000px;
			    height: 6.25em;
			    border: none;
			    resize: none;
			    background-color:white;
			}
			.centerRegTitle{
				width: 800px;
				height: 50px;
			    border: none;
			    text-align:center;
			    font-size:40px;
			    margin-bottom:5px;
			    background-color: #f7cb71;;
			    
			}
			.centervRegAmnt{
				width: 250px;
				height: 20px;
			    border: none;
			    text-align:center;
			    margin-bottom:5px;
			    background-color: white;
			}
			.centerRegDiv h2 input::placeholder{
				color:#8B4513;
				font-size: 40px;
				font-family: 'MangoDdobak-B';
			}
			.centerRegDiv input::placeholder{
				color:#8B4513;
				font-size: 18px;
				font-family: 'MangoDdobak-B';
			}
			.centerRegDiv2  textarea,input:focus{
				outline:none;
			}
		
			.centerRegDiv2 textarea::placeholder{
				color:#8B4513;
				font-size:18px;
				font-family: 'MangoDdobak-B';
			}
			.button-container {
              display: flex;
              justify-content: space-between;
              align-items: center;
            }


/**센터레그 끝~~*****************************************************************************************************************/

/**봉사상세 시작~~*****************************************************************************************************************/

            .volunteerDetailDiv{
                text-align: center;
                margin: auto;
                width: 1100px;
                font-family: 'MangoDdobak-B';
                >div{
                width:1100px;
                margin:0 auto 35px;
                justify-content:center;
                border:1px solid #aeaeae;
                }
            }
            .volunteerDetailDiv h2{
                font-size: 40px;
                font-family: 'NEXONFootballGothicBA1';                
                padding: 5px;
                margin: 20px auto 20px;                
                color:black;
            }
            .volunteerDetailDiv h3 {
            	font-family: 'NEXONFootballGothicBA1';
			    border-bottom : 2px solid #333;
			    padding-bottom : 10px;
			    margin-bottom : 20px;
			    text-align: left;
			    font-size: 40px;
			    
			}
            
            .volunteerDetailDiv .volunteerDetailTable{
                margin: 5px auto;
                border-top: 2px solid  #8B4513;
                border-bottom: 2px solid  #8B4513;
                width: 980px;
                background-color:white;
            }
            .volunteerDetailDiv .volunteerDetailTable tr td{
                padding: 5px;
                border-bottom: 1px solid #FDECCB;
                vertical-align: middle;
                font-size:18px;
            }
            .volunteerDetailDiv .volunteerDetailTable .volunteerDetailTd{
                border-right: 1px solid #8B4513;
                background-color: #AC8668;
                color:white;
                vertical-align: middle;
                font-size:22px;
                padding:20px 15px;
            }
            .volunteerDetailDiv .volunteerDetailDiv2{
                padding: 10px;
                border: 2px solid #8B4513;
                margin: 20px auto;
                width: 960px;
                margin-bottom:20px;
                background-color:white;
                font-size:18px;
                
            }
            
            .volunteerDetailBtn{
            	width:200px;
            	height:45px;
            	margin-bottom:20px;
			    background-color : #EC9343;
			    color: white;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    transition: background-color 0.3s ease;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			            	
            }
            .volunteerDetailBtn:hover{
            	background-color : #D87A2B ;
            }
            .volunteerDetailDiv2 textarea {
                width: 950px;
                height: 6.25em;
                border: none;
                resize: none;
                background-color:white;
            }
            .volunteerDetailDiv2  textarea,input:focus{
                outline:none;
            }

            .volunteerDetailDiv2 textarea::placeholder{
                color:#8B4513;
                font-size:18px;
                font-family: 'MangoDdobak-B';
            }
            .volunteerDetailDiv input::placeholder{
                color:#8B4513;
                font-size: 18px;
                font-family: 'MangoDdobak-B';
            }


/**봉사상세 끝~~*****************************************************************************************************************/
/**봉사신청 시작~~*****************************************************************************************************************/
            .volunteerRegDiv{
                text-align: center;
                margin: auto;
                width: 980px;
                font-family: 'MangoDdobak-B';
            }
            .volunteerRegDiv h2{
                font-size: 40px;
                padding: 5px;
                margin: 10px 0px 30px 0px;
                background-color: #f7cb71;
                color:black;
            }
            .volunteerRegDiv h3 {
			    font-weight: bold;
			    border-bottom : 2px solid #333;
			    padding-bottom : 10px;
			    margin-bottom : 20px;
			    text-align: left;
			    font-size: 40px;
			}
            .volunteerRegDiv .volunteerRegTable{
                margin: 5px auto;
                border-top: 2px solid  #8B4513;
                border-bottom: 2px solid  #8B4513;;
                width: 980px;
                background-color:white;
            }
            .volunteerRegDiv .volunteerRegTable tr td{
                padding: 5px;
                border-bottom: 1px solid #FDECCB;
                font-size:18px;
            }
            .volunteerRegDiv .volunteerRegTable .volunteerRegTd{
                border-right: 1px solid #8B4513;
                background-color: #AC8668;
                color:white;
                vertical-align: middle;
                font-size:22px;
            }
            .volunteerRegDiv .volunteerRegDiv2{
                padding: 10px;
                border: 2px solid #8B4513;
                margin: 20px auto;
                width: 960px;
                margin-bottom:20px;
                background-color:white;
                
            }
            
            .volunteerRegBtn{
            	width:200px;
            	height:45px;
            	margin-bottom:20px;
			    background-color : #EC9343;
			    color: white;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    transition: background-color 0.3s ease;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			            	
            }
            .volunteerRegBtn:hover{
            	background-color : #D87A2B ;
            }
            .volunteerRegAmnt{
				width: 250px;
				height: 20px;
			    border: none;
			    text-align:center;
			    margin-bottom:5px;
			    background-color: white;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			}
			.volunteerRegDiv input::placeholder{
				color:#8B4513;
				font-size:18px;
				font-family: 'MangoDdobak-B';
			}
			.volunteerDetailDiv textarea:focus{
				outline:none;
			}
			.volunteerRegDiv2 textarea {
			    width: 950px;
			    height: 6.25em;
			    border: none;
			    resize: none;
			    background-color: white;
			}
			.volunteerRegDiv2 textarea:focus{
				outline:none;
			}
		
			.volunteerRegDiv2 textarea::placeholder{
				color:#8B4513;
				font-size:18px;
				font-family: 'MangoDdobak-B';
			}
/**봉사신청 끝~~*****************************************************************************************************************/