@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@font-face {
    font-family: 'MangoDdobak-B';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-3@1.1/MangoDdobak-B.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'NEXONFootballGothicBA1';
    src: url('https://gcore.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXONFootballGothicBA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Noto Sans KR", sans-serif;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	margin: 0 auto;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
		background-color:#FDECCB;
}

/**리셋끝~~*****************************************************************************************************************/
/**네비시작~~~*************************************************************************************************************/




header{
    margin: 0 auto -100px;
    width: 1250px;
}

.neviFor{
    z-index: 1000;
    top: 0;
    position: absolute;
    margin: auto;
}

.neviBack{
    width: 1250px;
    height: 370px;
    z-index: 1;
    position: relative;
    >img{
        width: 1250px;
        height: 280px;
    }
}



/*최상단*/

.neviTop{
       width: 1250px;
    background-color: none;
    >div{
        margin-top: 15px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        >span{
            display: flex;
        }
        >button{
            background-color: transparent;      /*neviTop 컬러와동일*/
            margin-right: 10px;                 /*로그아웃과 마이페이지 사이 margin 조절*/
            font-size: 15px;
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */

        }
        >form>button{
            margin-right: 10px;                 /*마이페이지 우측 margin 조절*/
            background-color: transparent;      /*neviTop 컬러와동일*/
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */
            margin-bottom: 4px;
        }
    }
}

/*네비게이션*/
.nevi{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;                                /*네이게이션바 위아래 두께*/
    width: 1250px;
    background-color: rgba(255 133 0/0.6);             /*네이게이션바 전체색상*/
    display: flex;
    align-items: center;
    >span:nth-child(1){
        width: 150px;
        >img{
            width: 200px;                                 /*로고 크기*/
            margin-left: 30px;                            /*로고 왼쪽 간격*/
        }
    }
    span:nth-child(2){
        margin-left: 310px;                               /* 네비바 항목 위치 */
        align-items: center;
        >ul{
            list-style-type: none;                        /* 형식 점을 없애기 위해 설정 */
            margin-top: 0px;                             /*네비게이션 바 글씨 높이*/
            display: flex;
            >li>div{
                cursor: pointer;
                margin-right: 18px;                       /*네비게이션 바 메뉴 간격*/
                display: flex;
                align-items: center
            }
            >li>div>img{
                width: 25px;
                height: 25px;                             /*네비게이션 바 발바닥 크기*/
            }
            >li>div>form>input{
                border: 0;
                background-color: transparent;
                text-decoration: none;
                color: white;                            /*네비게이션 바 글씨색상*/
                cursor: pointer;
                font-size: 25px;
                font-weight: bold;
            }

        }
    }
}

/* .mainBack{
    background-image: url(../img/imsiback.jpg);
    width: 1250px;
    background-size: cover;
    background-position: center;
} */




/**네비끝~~*****************************************************************************************************************/

/**센터네비시작~~*****************************************************************************************************************/

header{
    margin: 0 auto ;
    width: 1250px;
}


.neviCenterBack{
    width: 1250px;
    height: 280px;						/*네비뒷배경 크기 1 -2랑 맞춰야함*/
    z-index: 1;
    position: relative;
    >img{
        width: 1250px;
        height: 280px;					/*네비뒷배경 크기 2 -1이랑 맞춰야함*/
    }
}

.neviCenterFor{
    z-index: 1000;
    top: 0;
    position: absolute;
    margin: auto;
}



/*최상단*/

.neviCenterTop{
       width: 1250px;
    background-color: none;
    >div{
        margin-top: 15px;
        margin-bottom: 5px;
        display: flex;
        justify-content: flex-end;
        >span{
            display: flex;
        }
        >button{
            background-color: transparent;      /*neviTop 컬러와동일*/
            margin-right: 10px;                 /*로그아웃과 마이페이지 사이 margin 조절*/
            font-size: 15px;
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */

        }
        >form>button{
            margin-right: 10px;                 /*마이페이지 우측 margin 조절*/
            background-color: transparent;      /*neviTop 컬러와동일*/
            text-decoration: none;
            color: gray;
            cursor: pointer;
            border: none;
            font-size: 20px;
            background-color: transparent;
            text-decoration: none;
            display: inline-block;          /* 인라인 블록 요소로 설정 */
            vertical-align: middle;         /* 수직 정렬을 위해 중앙 정렬 */
            margin-bottom: 4px;
        }
    }
}

/*네비게이션*/
.neviCenter{
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;                                /*네이게이션바 위아래 두께*/
    width: 1250px;
    background-color: rgba(255 133 0/0.6);             /*네이게이션바 전체색상*/
    display: flex;
    align-items: center;
    >span:nth-child(1){
        width: 150px;
        >img{
            width: 200px;                                 /*로고 크기*/
            margin-left: 30px;                            /*로고 왼쪽 간격*/
        }
    }
    span:nth-child(2){
        margin-left: 210px;                               /* 네비바 항목 위치 */
        align-items: center;
        >ul{
            list-style-type: none;                        /* 형식 점을 없애기 위해 설정 */
            margin-top: 0px;                             /*네비게이션 바 글씨 높이*/
            display: flex;
            >li>div{
                cursor: pointer;
                margin-right: 11px;                       /*네비게이션 바 메뉴 간격*/
                display: flex;
                align-items: center
            }
            >li>div>img{
                width: 23px;
                height: 23px;                             /*네비게이션 바 발바닥 크기*/
            }
            >li>div>form>input{
                border: 0;
                background-color: transparent;
                text-decoration: none;
                color: white;                            /*네비게이션 바 글씨색상*/
                cursor: pointer;
                font-size: 23px;
                font-weight: bold;
            }

        }
    }
}


/**센터네비끝~~*****************************************************************************************************************/


/**센터레그 시작~~*****************************************************************************************************************/


            .centerRegDiv{
                text-align: center;
                margin: auto;
                width: 1100px;
                font-family: 'MangoDdobak-B';
                >div{
                width:1100px;
                margin:0 auto 35px;
                justify-content:center;
                border:1px solid #aeaeae;
                background-color:white;
                }
            }
            .centerRegDiv h2{
                font-size: 40px;
                font-family: 'NEXONFootballGothicBA1';                
                padding: 5px;
                margin: 20px auto 20px;                
                color:black;
                
            }
            .centerRegDiv h3 {
            	font-family: 'NEXONFootballGothicBA1';
			    border-bottom : 2px solid #333;
			    padding-bottom : 10px;
			    margin-bottom : 20px;
			    text-align: left;
			    font-size: 40px;
			    
			}
            
            
            .centerRegDiv .centerRegTable{
                margin: 5px auto;
                border-top: 2px solid #8B4513;
                border-bottom: 2px solid #8B4513;
                width: 980px;
                background-color: white;
            }
            .centerRegDiv .centerRegTable tr td{
                padding: 5px;
                border-bottom: 1px solid #FDECCB;
                vertical-align: middle;
                font-size:18px;
                
            }
            .centerRegDiv .centerRegTable .centerRegTd{
                border-right: 1px solid #8B4513;
                background-color: #AC8668;
                color:white;
                vertical-align: middle;
                font-size:22px;
                padding:20px 15px;
                
            }
            .centerRegDiv .centerRegDiv2{
                padding: 10px;
                border: 2px solid #8B4513;
                margin: 20px auto;
                width: 960px;
                margin-bottom:20px;
                background-color:white;
                font-size:18px;
                
            }
            .centerRegDateLeft{
                border: none;
                background-color: white;
                font-size: 16px;
                margin-left: -50px;
                cursor: pointer;
                font-family: 'MangoDdobak-B';
            }
            .centerRegDateLeftNew{
                border: none;
                background-color: white;
                font-size: 16px;
                margin-left: -50px;
                cursor: pointer;
                font-family: 'MangoDdobak-B';
                display: none;
            }
            .centerRegDateRight{
                border: none;
                background-color: white;
                font-size: 16px;
                margin-right: -50px;
                cursor: pointer;
                font-family: 'MangoDdobak-B';
            }
            .centerRegDateRightNew{
                border: none;
                background-color: white;
                font-size: 16px;
                margin-right: -50px;
                cursor: pointer;
                font-family: 'MangoDdobak-B';
                display: none;
            }
            .centerRegBtn{
            	width:200px;
            	height:45px;
            	margin-bottom:20px;
			    background-color : #EC9343; 
			    color: white;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    transition: background-color 0.3s ease;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			            	
            }
            .centerRegBtn:hover{
            	background-color : #D87A2B ; 
            }
            .centerRegDiv2 textarea {
			    width: 950px;
			    height: 6.25em;
			    border: none;
			    resize: none;
			    background-color:white;
			}
			.centerRegTitle{
				width: 800px;
				height: 50px;
			    border: none;
			    text-align:center;
			    font-size:40px;
			    margin-bottom:5px;
			    background-color: white;
			    font-family: 'NEXONFootballGothicBA1'; 
			}
			.centervRegAmnt{
				width: 250px;
				height: 20px;
			    border: none;
			    text-align:center;
			    margin-bottom:5px;
			    background-color: white;
			}
			.centerRegDiv h2 input::placeholder{
				color:#8B4513;
				font-size: 40px;
				font-family: 'MangoDdobak-B';
			}
			.centerRegDiv input::placeholder{
				color:#8B4513;
				font-size: 18px;
				font-family: 'MangoDdobak-B';
			}
			.centerRegDiv2  textarea,input:focus{
				outline:none;
			}
		
			.centerRegDiv2 textarea::placeholder{
				color:#8B4513;
				font-size:18px;
				font-family: 'MangoDdobak-B';
			}


/**센터레그 끝~~*****************************************************************************************************************/

/**봉사상세 시작~~*****************************************************************************************************************/

            .volunteerDetailDiv{
                text-align: center;
                margin: auto;
                width: 1100px;
                font-family: 'MangoDdobak-B';
                >div{
                width:1100px;
                margin:0 auto 35px;
                justify-content:center;
                border:1px solid #aeaeae;
                background-color:white;
                }
            }
            .volunteerDetailDiv h2{
                font-size: 40px;
                font-family: 'NEXONFootballGothicBA1';                
                padding: 5px;
                margin: 20px auto 20px;                
                color:black;
            }
            .volunteerDetailDiv h3 {
            	font-family: 'NEXONFootballGothicBA1';
			    border-bottom : 2px solid #333;
			    padding-bottom : 10px;
			    margin-bottom : 20px;
			    text-align: left;
			    font-size: 40px;
			    
			}
            
            .volunteerDetailDiv .volunteerDetailTable{
                margin: 5px auto;
                border-top: 2px solid  #8B4513;
                border-bottom: 2px solid  #8B4513;
                width: 980px;
                background-color:white;
            }
            .volunteerDetailDiv .volunteerDetailTable tr td{
                padding: 5px;
                border-bottom: 1px solid #FDECCB;
                vertical-align: middle;
                font-size:18px;
            }
            .volunteerDetailDiv .volunteerDetailTable .volunteerDetailTd{
                border-right: 1px solid #8B4513;
                background-color: #AC8668;
                color:white;
                vertical-align: middle;
                font-size:22px;
                padding:20px 15px;
            }
            .volunteerDetailDiv .volunteerDetailDiv2{
                padding: 10px;
                border: 2px solid #8B4513;
                margin: 20px auto;
                width: 960px;
                margin-bottom:20px;
                background-color:white;
                font-size:18px;
                
            }
            
            .volunteerDetailBtn{
            	width:200px;
            	height:45px;
            	margin-bottom:20px;
			    background-color : #EC9343;
			    color: white;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    transition: background-color 0.3s ease;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			            	
            }
            .volunteerDetailBtn:hover{
            	background-color : #D87A2B ;
            }
/**봉사상세 끝~~*****************************************************************************************************************/
/**봉사신청 시작~~*****************************************************************************************************************/
            .volunteerRegDiv{
                text-align: center;
                margin: auto;
                width: 1100px;
                font-family: 'MangoDdobak-B';
                >div{
                width:1100px;
                margin:0 auto 35px;
                justify-content:center;
                border:1px solid #aeaeae;
                background-color:white;
                }
            }
            .volunteerRegDiv h2{
                font-size: 40px;
                font-family: 'NEXONFootballGothicBA1';                
                padding: 5px;
                margin: 20px auto 20px;                
                color:black;
            }
            .volunteerRegDiv h3 {
            	font-family: 'NEXONFootballGothicBA1';
			    border-bottom : 2px solid #333;
			    padding-bottom : 10px;
			    margin-bottom : 20px;
			    text-align: left;
			    font-size: 40px;
			    
			}
            .volunteerRegDiv .volunteerRegTable{
                margin: 5px auto;
                border-top: 2px solid  #8B4513;
                border-bottom: 2px solid  #8B4513;;
                width: 980px;
                background-color:white;
            }
            .volunteerRegDiv .volunteerRegTable tr td{
                padding: 5px;
                border-bottom: 1px solid #FDECCB;
                vertical-align: middle;
                font-size:18px;
            }
            .volunteerRegDiv .volunteerRegTable .volunteerRegTd{
                border-right: 1px solid #8B4513;
                background-color: #AC8668;
                color:white;
                vertical-align: middle;
                font-size:22px;
                padding:20px 15px;
            }
            .volunteerRegDiv .volunteerRegDiv2{
                padding: 10px;
                border: 2px solid #8B4513;
                margin: 20px auto;
                width: 960px;
                margin-bottom:20px;
                background-color:white;
                font-size:18px;
                
            }
            
            .volunteerRegBtn{
            	width:200px;
            	height:45px;
            	margin-bottom:20px;
			    background-color : #EC9343;
			    color: white;
			    border: none;
			    border-radius: 5px;
			    cursor: pointer;
			    transition: background-color 0.3s ease;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			            	
            }
            .volunteerRegBtn:hover{
            	background-color : #D87A2B ;
            }
            .volunteerRegAmnt{
				width: 250px;
				height: 20px;
			    border: none;
			    text-align:center;
			    margin-bottom:5px;
			    background-color: white;
			    font-size:18px;
			    font-family: 'MangoDdobak-B';
			}
			.volunteerRegDiv input::placeholder{
				color:#8B4513;
				font-size:18px;
				font-family: 'MangoDdobak-B';
			}
			.volunteerDetailDiv textarea:focus{
				outline:none;
			}
			.volunteerRegDiv2 textarea {
			    width: 950px;
			    height: 6.25em;
			    border: none;
			    resize: none;
			    background-color: white;
			}
			.volunteerRegDiv2 textarea:focus{
				outline:none;
			}
		
			.volunteerRegDiv2 textarea::placeholder{
				color:#8B4513;
				font-size:18px;
				font-family: 'MangoDdobak-B';
			}
/**봉사신청 끝~~*****************************************************************************************************************/